
* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#progress-bar {
  width: 100%;
  height: 38px;
  background-color: #ddd;
  border-radius: 5px;
  border: 4px solid black;
  font-weight: bold;
  font-size: large;
}

#progress {
  height: 30px;
  /* background-color: brown; */
  padding: 5px;
  color: #ddd;
  font-size: large;
  text-align: center;
}


