
* {
  padding: 0;
  box-sizing: border-box;
}
#progress-bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  border: 4px solid black;
}

#progress {
  width: 1%;
  height: 30px;
  background-color: #0026ff;
  padding: 5px;
  color: #ddd;
  font-size: large;
  text-align: center;
}


